header#header > .header-line-2 {
    background-color: #fe5b29;
}

header#header > .header-line-2 .header-line-2-icon {
    margin-top:-3px;
}

.carousel, .carousel-caption, .carousel-inner {
    position: static;
}
.carousel-indicators, .carousel-control-prev, .carousel-control-next {
    display: none;
}

.slider-buttons polyline {
    stroke:#ffffff;
}

.primary-color {
    color: #fe5b29;
}
.secondary-color {
    color: #111111;
}

.primary-bg-color {
    background-color: #fe5b29;
}
.secondary-bg-color {
    background-color: #111111;;
}