/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .banner_section {
        padding: 100px 0px 90px 0px;
    }

    .gallery_img img {
        min-height: 147px;
    }

    .footer_taital {
        font-size: 22px;
    }

    .lorem_text {
        width: 77%;
    }

    .social_icon li a {
        padding: 0px 0px;
        font-size: 19px;
        width: 35px;
        margin-top: 10px;
    }
    
    #banner_slider a.carousel-control-prev {
        left: -120px;
        top: 155px;
        right: initial;
        display: none;
    }

    #banner_slider a.carousel-control-next {
        right: initial;
        top: 100px;
        left: -120px;
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 20px;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }

    .banner_section {
        padding: 60px 0px 60px 0px;
    }

    .banner_taital {
        font-size: 50px;
        line-height: 50px;
    }

    .banner_text {
        width: 100%;
        margin: 20px 0px 0px 0px;
    }

    .contact_bt {
        width: 145px;
    }

    .about_text {
        width: 100%;
        font-size: 15px;
        margin: 10px 0px 0px 0px;
    }

    .readmore_btn {
        margin-top: 20px;
    }

    .about_img {
        margin-top: 30px;
    }

    .search_btn {
        width: 142px;
        float: left;
    }

    .gallery_img img {
        min-height: 100px;
    }

    .client_section_2 {
        width: 90%;
    }

    #custom_slider a.carousel-control-prev {
        left: -38px;
        top: 270px;
    }

    #custom_slider a.carousel-control-next {
        right: -38px;
        top: 270px;
    }

    .footer_taital {
        font-size: 31px;
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    
    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 20px;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    
    .call_text_main{
        display: none;
    }

    .banner_section{
        background: #ffffff;
        padding: 70px 0px 90px 0px;
    }

    .contact_bt {
        width: 145px;
    }
     
    .about_section .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .about_section {
        padding: 0px 0px 90px 0px;
    }

    .about_text {
        font-size: 15px;
    }

    .about_img {
        margin-top: 40px;
    }
    
    .search_taital {
        font-size: 26px;
    }

    .nice-select {
        margin-bottom: 20px;
    }

    .search_btn {
        width: 170px;
        margin: 0 auto;
        float: none;
    }

    .gallery_taital {
        font-size: 30px;
    }

    .gallery_section_2 {
        padding-top: 0px;
    }

    .gallery_box{
        margin-top: 30px;
    }

    .choose_taital {
        font-size: 30px;
    }

    .icon_1 {
        min-height: 50px;
    }

    .safety_text {
        font-size: 15px;
    }

    .client_taital {    
        font-size: 24px;
    }

    .client_section_2 {
        width: 94%;
    }

    #custom_slider a.carousel-control-next {
        right: 80px;
        top: 270px;
        display: none;
    }

    #custom_slider a.carousel-control-prev {
        left: 80px;
        top: 270px;
        display: none;
    }

    .mail_section_1 {
        width: 90%;
    }

    .footer_taital {
        font-size: 30px;
        margin-top: 20px;
    }

    .lorem_text {
        width: 100%;
    }
}

@media (max-width: 575px) {

    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 20px;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    
    .call_text_main{
        display: none;
    }

    .banner_section{
        background: #ffffff;
        padding: 70px 0px 90px 0px;
    }

    .contact_bt {
        width: 145px;
    }
     
    .about_section .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .about_section {
        padding: 0px 0px 90px 0px;
    }

    .about_text {
        font-size: 15px;
    }

    .about_img {
        margin-top: 40px;
    }
    
    .search_taital {
        font-size: 26px;
    }

    .nice-select {
        margin-bottom: 20px;
    }

    .search_btn {
        width: 170px;
        margin: 0 auto;
        float: none;
    }

    .gallery_taital {
        font-size: 30px;
    }

    .gallery_section_2 {
        padding-top: 0px;
    }

    .gallery_box{
        margin-top: 30px;
    }

    .choose_taital {
        font-size: 30px;
    }

    .icon_1 {
        margin-top: 20px;
    }

    .client_taital {    
        font-size: 24px;
    }

    .client_section_2 {
        width: 94%;
    }

    #custom_slider a.carousel-control-next {
        right: 80px;
        top: 270px;
        display: none;
    }

    #custom_slider a.carousel-control-prev {
        left: 80px;
        top: 270px;
        display: none;
    }

    .mail_section_1 {
        width: 100%;
    }

    .footer_taital {
        font-size: 30px;
        margin-top: 20px;
    }

    .lorem_text {
        width: 100%;
    }

}